/* Webkit */
 ::-webkit-scrollbar {
    display:none;
}
::-webkit-scrollbar-button {
    display:none;
}
::-webkit-scrollbar-track {
    display:none;
}
::-webkit-scrollbar-track-piece {
    display:none;
}
::-webkit-scrollbar-thumb {
    display:none;
}
::-webkit-scrollbar-corner {
    display:none;
}
::-webkit-resizer {
    display:none;
}
/* Moz */
 @-moz-document url-prefix(http://), url-prefix(https://) {
    scrollbar {
        -moz-appearance: none !important;
        display: none !important;
    }
    thumb, scrollbarbutton {
        -moz-appearance: none !important;
        display: none !important;
    }
    thumb:hover, scrollbarbutton:hover {
        -moz-appearance: none !important;
        display: none !important;
    }
    scrollbarbutton {
        display: none !important;
    }
    scrollbar[orient="vertical"] {
        display: none !important;
    }
}
/* IE */
 body {
    scrollbar-base-color: transparent;
    scrollbar-base-color: transparent;
    scrollbar-3dlight-color: transparent;
    scrollbar-highlight-color: transparent;
    scrollbar-track-color: transparent;
    scrollbar-arrow-color: transparent;
    scrollbar-shadow-color: transparent;
    scrollbar-dark-shadow-color: transparent;
}
html, body, div, hr, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
}
html, body {
    font-size: 24px;
    /* set base font-size */
    margin:0;
    padding:0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.lightCss a,.lightCss abbr,.lightCss acronym,.lightCss address,.lightCss applet,.lightCss area,.lightCss article,.lightCss aside,.lightCss audio,.lightCss b,.lightCss base,.lightCss basefont,.lightCss bdi,.lightCss bdo,.lightCss bgsound,.lightCss big,.lightCss blink,.lightCss blockquote,.lightCss body,.lightCss br,.lightCss button,.lightCss canvas,.lightCss caption,.lightCss center,.lightCss cite,.lightCss code,.lightCss col,.lightCss colgroup,.lightCss content,.lightCss data,.lightCss datalist,.lightCss dd,.lightCss decorator,.lightCss del,.lightCss details,.lightCss dfn,.lightCss dir,.lightCss div,.lightCss dl,.lightCss dt,.lightCss element,.lightCss em,.lightCss embed,.lightCss fieldset,.lightCss figcaption,.lightCss figure,.lightCss font,.lightCss footer,.lightCss form,.lightCss frame,.lightCss frameset,.lightCss h1,.lightCss h2,.lightCss h3,.lightCss h4,.lightCss h5,.lightCss h6,.lightCss head,.lightCss header,.lightCss hgroup,.lightCss hr,.lightCss html,.lightCss i,.lightCss iframe,.lightCss img,.lightCss input,.lightCss ins,.lightCss isindex,.lightCss kbd,.lightCss keygen,.lightCss label,.lightCss legend,.lightCss li,.lightCss link,.lightCss listing,.lightCss main,.lightCss map,.lightCss mark,.lightCss marquee,.lightCss menu,.lightCss menuitem,.lightCss meter,.lightCss nav,.lightCss nobr,.lightCss noframes,.lightCss noscript,.lightCss object,.lightCss ol,.lightCss optgroup,.lightCss option,.lightCss output,.lightCss p,.lightCss param,.lightCss plaintext,.lightCss pre,.lightCss progress,.lightCss q,.lightCss rp,.lightCss rt,.lightCss ruby,.lightCss s,.lightCss samp,.lightCss section,.lightCss select,.lightCss shadow,.lightCss small,.lightCss source,.lightCss spacer,.lightCss span,.lightCss strike,.lightCss strong,.lightCss sub,.lightCss summary,.lightCss sup,.lightCss table,.lightCss tbody,.lightCss td,.lightCss template,.lightCss textarea,.lightCss tfoot,.lightCss th,.lightCss thead,.lightCss time,.lightCss title,.lightCss tr,.lightCss track,.lightCss tt,.lightCss u,.lightCss ul,.lightCss var,.lightCss video,.lightCss wbr{color:#000!important}
.darkCss a,.darkCss abbr,.darkCss acronym,.darkCss address,.darkCss applet,.darkCss area,.darkCss article,.darkCss aside,.darkCss audio,.darkCss b,.darkCss base,.darkCss basefont,.darkCss bdi,.darkCss bdo,.darkCss bgsound,.darkCss big,.darkCss blink,.darkCss blockquote,.darkCss body,.darkCss br,.darkCss button,.darkCss canvas,.darkCss caption,.darkCss center,.darkCss cite,.darkCss code,.darkCss col,.darkCss colgroup,.darkCss content,.darkCss data,.darkCss datalist,.darkCss dd,.darkCss decorator,.darkCss del,.darkCss details,.darkCss dfn,.darkCss dir,.darkCss div,.darkCss dl,.darkCss dt,.darkCss element,.darkCss em,.darkCss embed,.darkCss fieldset,.darkCss figcaption,.darkCss figure,.darkCss font,.darkCss footer,.darkCss form,.darkCss frame,.darkCss frameset,.darkCss h1,.darkCss h2,.darkCss h3,.darkCss h4,.darkCss h5,.darkCss h6,.darkCss head,.darkCss header,.darkCss hgroup,.darkCss hr,.darkCss html,.darkCss i,.darkCss iframe,.darkCss img,.darkCss input,.darkCss ins,.darkCss isindex,.darkCss kbd,.darkCss keygen,.darkCss label,.darkCss legend,.darkCss li,.darkCss link,.darkCss listing,.darkCss main,.darkCss map,.darkCss mark,.darkCss marquee,.darkCss menu,.darkCss menuitem,.darkCss meter,.darkCss nav,.darkCss nobr,.darkCss noframes,.darkCss noscript,.darkCss object,.darkCss ol,.darkCss optgroup,.darkCss option,.darkCss output,.darkCss p,.darkCss param,.darkCss plaintext,.darkCss pre,.darkCss progress,.darkCss q,.darkCss rp,.darkCss rt,.darkCss ruby,.darkCss s,.darkCss samp,.darkCss section,.darkCss select,.darkCss shadow,.darkCss small,.darkCss source,.darkCss spacer,.darkCss span,.darkCss strike,.darkCss strong,.darkCss sub,.darkCss summary,.darkCss sup,.darkCss table,.darkCss tbody,.darkCss td,.darkCss template,.darkCss textarea,.darkCss tfoot,.darkCss th,.darkCss thead,.darkCss time,.darkCss title,.darkCss tr,.darkCss track,.darkCss tt,.darkCss u,.darkCss ul,.darkCss var,.darkCss video, .darkCss wbr{color:#fefefe!important}
html.lightCSs{
    background-color: #fff!important;
}
html.darkCss{
    background-color: #333!important;
}
.darkCss body, .darkCss main, .lightCss body,.lightCss main{
    background-color: transparent!important;
}
nav {
    position: absolute;
    margin:0 25px;
    height: 100%;
    width: 67px;
}
a {
    text-decoration: none;
}
.site-title {
    margin:25px;
    padding:0;
    color:black;
    display: none;
}
ul.controls, ul.components {
    list-style: none;
    margin:0;
    padding:0;
    top: 0;
    right:0;
}
ul.controls li{
    display: block;
}
ul.components li {
    width: 35px;
    height: 35px;
}
ul.controls li a {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin:0;
}
ul.controls li a:first-child{
    margin-top:0;
}
ul.components li a {
    display: block;
    height: 100%;
    width: 100%;
}
ul.chapters {
    display: none;
}
ul.chapters li {
    margin: 0 10px;
}
main {
    /* set adjustable font-size */
    font-size: 100%;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: white;
    overflow: scroll;
    /* font-size-adjust variables */
    /*max-width: 600px;*/
    max-height: 200px;
}
main a, main a:link, main a:active, main a:visited {
    color: blue!important;
    text-decoration: underline!important;
}
section#page{
    margin:0;
    padding:0;
    border:0;
}
.runner-help {
    position: absolute;
    bottom: 0;
    right: 0;
    margin:25px;
    padding:0;
    text-decoration: none;
}
.runner-help a {
    /*color:black;*/
    text-decoration: none;
}
.runner-page-count {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 25px;
    padding:0;
}

/**
* icons
*/
/* Light */
    .lightCss [data-state='pause'] {
        background: url(../images/icons/light_stop_32.svg) no-repeat center center;
        background-size:contain;
    }
    .lightCss [data-state='play'] {
        background: url(../images/icons/light_play_32.svg) no-repeat center center;
        background-size:contain;
    }
    .lightCss .speed-inc {
        background: url(../images/icons/light_faster_32.svg) no-repeat center center;
        background-size:contain;
    }
    .lightCss .speed-dec {
        background: url(../images/icons/light_slower_32.svg) no-repeat center center;
        background-size:contain;
    }
    .lightCss .font-inc {
        background: url(../images/icons/light_bigger_32.svg) no-repeat center center;
        background-size:contain;
    }
    .lightCss .font-dec {
        background: url(../images/icons/light_smaller_32.svg) no-repeat center center;
        background-size:contain;
    }
    .lightCss .contrast-light {
        background: url(../images/icons/light_lighter_32.svg) no-repeat center center;
        background-size:contain;
    }
    .lightCss .contrast-dark {
        background: url(../images/icons/light_darker_32.svg) no-repeat center center;
        background-size:contain;
    }
    .lightCss .full-screen {
        background: url(../images/icons/light_fullscreen_32.svg) no-repeat center center;
        background-size:contain;
    }

    /* Dark */
    .darkCss [data-state='pause'] {
        background: url(../images/icons/dark_stop_32.svg) no-repeat center center;
        background-size:contain;
    }
    .darkCss [data-state='play'] {
        background: url(../images/icons/dark_play_32.svg) no-repeat center center;
        background-size:contain;
    }
    .darkCss .speed-inc {
        background: url(../images/icons/dark_faster_32.svg) no-repeat center center;
        background-size:contain;
    }
    .darkCss .speed-dec {
        background: url(../images/icons/dark_slower_32.svg) no-repeat center center;
        background-size:contain;
    }
    .darkCss .font-inc {
        background: url(../images/icons/dark_bigger_32.svg) no-repeat center center;
        background-size:contain;
    }
    .darkCss .font-dec {
        background: url(../images/icons/dark_smaller_32.svg) no-repeat center center;
        background-size:contain;
    }
    .darkCss .contrast-light {
        background: url(../images/icons/dark_lighter_32.svg) no-repeat center center;
        background-size:contain;
    }
    .darkCss .contrast-dark {
        background: url(../images/icons/dark_darker_32.svg) no-repeat center center;
        background-size:contain;
    }
    .darkCss .full-screen {
        background: url(../images/icons/dark_fullscreen_32.svg) no-repeat center center;
        background-size:contain;
    }

/**
*
* Media Queries
*
* iPad portrait -> landscape
*
*/

nav.mobile{
    top:0!important;
    text-align: justify;
    margin:25px auto 0 auto;
    position: relative;
}
nav.mobile ul.controls{
    display: inline;
}
nav.mobile ul.controls li{
    display: inline;
}
nav.mobile ul.controls li:last-child:after{
    content: '.';
    visibility: hidden;
    display: inline-block;
    width: 100%;
}
nav.mobile ul.controls li a{
    /*padding:0 50px;*/
}
nav.mobile ul.controls li:first-child a{
    /*padding:0 50px 0 0;*/
}
nav.mobile ul.controls li:last-child a{
    /*padding:0 0 0 50px;*/
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
    body:before{
        position: fixed;
        content: 'iPad portrait -> landscape';
        visibility: visible;
        color: black;
        background: white;
        display: none;
    }
}

/**
*
* Mobile phones -> iPad portrait
*
*/

@media screen and (min-width: 320px) and (max-width: 481px) {
    body:before{
        position: fixed;
        content: 'Mobile phones -> iPad portrait';
        visibility: visible;
        color: black;
        background: white;
    }

}


/**
*
* misc.
*
*/
ul.controls, nav.mobile ul.controls, .runner-help, .runner-page-count{
    display: none;
}
.hidden {
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
}
.preload-images {
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
    background: url(../images/icons/light_stop_32.svg) no-repeat -9999px -9999px,
                url(../images/icons/light_play_32.svg) no-repeat -9999px -9999px,
                url(../images/icons/light_faster_32.svg) no-repeat -9999px -9999px,
                url(../images/icons/light_slower_32.svg) no-repeat -9999px -9999px,
                url(../images/icons/light_bigger_32.svg) no-repeat -9999px -9999px,
                url(../images/icons/light_smaller_32.svg) no-repeat -9999px -9999px,
                url(../images/icons/light_lighter_32.svg) no-repeat -9999px -9999px,
                url(../images/icons/light_darker_32.svg) no-repeat -9999px -9999px,
                url(../images/icons/light_fullscreen_32.svg) no-repeat -9999px -9999px,
                url(../images/icons/dark_stop_32.svg) no-repeat -9999px -9999px,
                url(../images/icons/dark_play_32.svg) no-repeat -9999px -9999px,
                url(../images/icons/dark_faster_32.svg) no-repeat -9999px -9999px,
                url(../images/icons/dark_slower_32.svg) no-repeat -9999px -9999px,
                url(../images/icons/dark_bigger_32.svg) no-repeat -9999px -9999px,
                url(../images/icons/dark_smaller_32.svg) no-repeat -9999px -9999px,
                url(../images/icons/dark_lighter_32.svg) no-repeat -9999px -9999px,
                url(../images/icons/dark_darker_32.svg) no-repeat -9999px -9999px,
                url(../images/icons/dark_fullscreen_32.svg) no-repeat -9999px -9999px;
}
