/*! http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 | License: none (public domain) */
/* line 2, reset-normalize.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 2, reset-normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 2, reset-normalize.scss */
body {
  line-height: 1;
}

/* line 2, reset-normalize.scss */
ol, ul {
  list-style: none;
}

/* line 2, reset-normalize.scss */
blockquote, q {
  quotes: none;
}

/* line 2, reset-normalize.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 2, reset-normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*! adapted from normalize.css v2.1.2 | MIT License | git.io/normalize */
/* line 4, reset-normalize.scss */
a:focus {
  outline: 0;
}

/* line 4, reset-normalize.scss */
a:active, a:hover {
  outline: 0;
}

/* line 4, reset-normalize.scss */
b, strong {
  font-weight: 700;
}

/* line 4, reset-normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 4, reset-normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 4, reset-normalize.scss */
small {
  font-size: 80%;
}

/* line 4, reset-normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 4, reset-normalize.scss */
sup {
  top: -.5em;
}

/* line 4, reset-normalize.scss */
sub {
  bottom: -.25em;
}

/* line 4, reset-normalize.scss */
img {
  border: 0;
}

/* line 4, reset-normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Webkit */
/* line 2, window-ui.scss */
:not(main)::-webkit-scrollbar {
  display: none;
}

/* line 3, window-ui.scss */
:not(main)::-webkit-scrollbar-button {
  display: none;
}

/* line 4, window-ui.scss */
:not(main)::-webkit-scrollbar-track {
  display: none;
}

/* line 5, window-ui.scss */
:not(main)::-webkit-scrollbar-track-piece {
  display: none;
}

/* line 6, window-ui.scss */
:not(main)::-webkit-scrollbar-thumb {
  display: none;
}

/* line 7, window-ui.scss */
:not(main)::-webkit-scrollbar-corner {
  display: none;
}

/* line 8, window-ui.scss */
:not(main)::-webkit-resizer {
  display: none;
}

/* Moz */
@-moz-document url-prefix(http://), url-prefix(https://) {
  /* line 12, window-ui.scss */
  scrollbar {
    -moz-appearance: none !important;
    display: none !important;
  }

  /* line 16, window-ui.scss */
  thumb, scrollbarbutton {
    -moz-appearance: none !important;
    display: none !important;
  }

  /* line 20, window-ui.scss */
  thumb:hover, scrollbarbutton:hover {
    -moz-appearance: none !important;
    display: none !important;
  }

  /* line 24, window-ui.scss */
  scrollbarbutton {
    display: none !important;
  }

  /* line 27, window-ui.scss */
  scrollbar[orient="vertical"] {
    display: none !important;
  }
}

/* IE */
/* line 33, window-ui.scss */
:not(main) {
  scrollbar-base-color: transparent;
  scrollbar-3dlight-color: transparent;
  scrollbar-highlight-color: transparent;
  scrollbar-track-color: transparent;
  scrollbar-arrow-color: transparent;
  scrollbar-shadow-color: transparent;
  scrollbar-dark-shadow-color: transparent;
  scrollbar-darkshadow-color: transparent;
  scrollbar-face-color: transparent;
}

@font-face {
  font-family: "Cardo";
  src: url(font-path("fonts/cardo-bold-webfont.eot"));
  src: url(font-path("fonts/cardo-bold-webfont.eot?#iefix")) format("embedded-opentype"), url(font-path("fonts/cardo-bold-webfont.woff")) format("woff"), url(font-path("fonts/cardo-bold-webfont.ttf")) format("truetype"), url(font-path("fonts/cardo-bold-webfont.svg#Cardo")) format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Cardo";
  src: url(font-path("fonts/cardo-bold-italic.eot"));
  src: url(font-path("fonts/cardo-bold-italic.eot?#iefix")) format("embedded-opentype"), url(font-path("fonts/cardo-bold-italic.woff")) format("woff"), url(font-path("fonts/cardo-bold-italic.ttf")) format("truetype"), url(font-path("fonts/cardo-bold-italic.svg#Cardo")) format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Cardo";
  src: url(font-path("fonts/cardo-bold-regular.eot"));
  src: url(font-path("fonts/cardo-bold-regular.eot?#iefix")) format("embedded-opentype"), url(font-path("fonts/cardo-bold-regular.woff")) format("woff"), url(font-path("fonts/cardo-bold-regular.ttf")) format("truetype"), url(font-path("fonts/cardo-bold-regular.svg#Cardo")) format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

/* line 1, styles.scss */
html, body, div, hr, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font-family: 'Cardo';
}

/* line 8, styles.scss */
html, body {
  font-size: 24px;
  /* set base font-size */
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* line 17, styles.scss */
.lightCss a, .lightCss abbr, .lightCss acronym, .lightCss address, .lightCss applet, .lightCss area, .lightCss article, .lightCss aside, .lightCss audio, .lightCss b, .lightCss base, .lightCss basefont, .lightCss bdi, .lightCss bdo, .lightCss bgsound, .lightCss big, .lightCss blink, .lightCss blockquote, .lightCss body, .lightCss br, .lightCss button, .lightCss canvas, .lightCss caption, .lightCss center, .lightCss cite, .lightCss code, .lightCss col, .lightCss colgroup, .lightCss content, .lightCss data, .lightCss datalist, .lightCss dd, .lightCss decorator, .lightCss del, .lightCss details, .lightCss dfn, .lightCss dir, .lightCss div, .lightCss dl, .lightCss dt, .lightCss element, .lightCss em, .lightCss embed, .lightCss fieldset, .lightCss figcaption, .lightCss figure, .lightCss font, .lightCss footer, .lightCss form, .lightCss frame, .lightCss frameset, .lightCss h1, .lightCss h2, .lightCss h3, .lightCss h4, .lightCss h5, .lightCss h6, .lightCss head, .lightCss header, .lightCss hgroup, .lightCss hr, .lightCss html, .lightCss i, .lightCss iframe, .lightCss img, .lightCss input, .lightCss ins, .lightCss isindex, .lightCss kbd, .lightCss keygen, .lightCss label, .lightCss legend, .lightCss li, .lightCss link, .lightCss listing, .lightCss main, .lightCss map, .lightCss mark, .lightCss marquee, .lightCss menu, .lightCss menuitem, .lightCss meter, .lightCss nav, .lightCss nobr, .lightCss noframes, .lightCss noscript, .lightCss object, .lightCss ol, .lightCss optgroup, .lightCss option, .lightCss output, .lightCss p, .lightCss param, .lightCss plaintext, .lightCss pre, .lightCss progress, .lightCss q, .lightCss rp, .lightCss rt, .lightCss ruby, .lightCss s, .lightCss samp, .lightCss section, .lightCss select, .lightCss shadow, .lightCss small, .lightCss source, .lightCss spacer, .lightCss span, .lightCss strike, .lightCss strong, .lightCss sub, .lightCss summary, .lightCss sup, .lightCss table, .lightCss tbody, .lightCss td, .lightCss template, .lightCss textarea, .lightCss tfoot, .lightCss th, .lightCss thead, .lightCss time, .lightCss title, .lightCss tr, .lightCss track, .lightCss tt, .lightCss u, .lightCss ul, .lightCss var, .lightCss video, .lightCss wbr {
  color: black !important;
}

/* line 18, styles.scss */
.darkCss a, .darkCss abbr, .darkCss acronym, .darkCss address, .darkCss applet, .darkCss area, .darkCss article, .darkCss aside, .darkCss audio, .darkCss b, .darkCss base, .darkCss basefont, .darkCss bdi, .darkCss bdo, .darkCss bgsound, .darkCss big, .darkCss blink, .darkCss blockquote, .darkCss body, .darkCss br, .darkCss button, .darkCss canvas, .darkCss caption, .darkCss center, .darkCss cite, .darkCss code, .darkCss col, .darkCss colgroup, .darkCss content, .darkCss data, .darkCss datalist, .darkCss dd, .darkCss decorator, .darkCss del, .darkCss details, .darkCss dfn, .darkCss dir, .darkCss div, .darkCss dl, .darkCss dt, .darkCss element, .darkCss em, .darkCss embed, .darkCss fieldset, .darkCss figcaption, .darkCss figure, .darkCss font, .darkCss footer, .darkCss form, .darkCss frame, .darkCss frameset, .darkCss h1, .darkCss h2, .darkCss h3, .darkCss h4, .darkCss h5, .darkCss h6, .darkCss head, .darkCss header, .darkCss hgroup, .darkCss hr, .darkCss html, .darkCss i, .darkCss iframe, .darkCss img, .darkCss input, .darkCss ins, .darkCss isindex, .darkCss kbd, .darkCss keygen, .darkCss label, .darkCss legend, .darkCss li, .darkCss link, .darkCss listing, .darkCss main, .darkCss map, .darkCss mark, .darkCss marquee, .darkCss menu, .darkCss menuitem, .darkCss meter, .darkCss nav, .darkCss nobr, .darkCss noframes, .darkCss noscript, .darkCss object, .darkCss ol, .darkCss optgroup, .darkCss option, .darkCss output, .darkCss p, .darkCss param, .darkCss plaintext, .darkCss pre, .darkCss progress, .darkCss q, .darkCss rp, .darkCss rt, .darkCss ruby, .darkCss s, .darkCss samp, .darkCss section, .darkCss select, .darkCss shadow, .darkCss small, .darkCss source, .darkCss spacer, .darkCss span, .darkCss strike, .darkCss strong, .darkCss sub, .darkCss summary, .darkCss sup, .darkCss table, .darkCss tbody, .darkCss td, .darkCss template, .darkCss textarea, .darkCss tfoot, .darkCss th, .darkCss thead, .darkCss time, .darkCss title, .darkCss tr, .darkCss track, .darkCss tt, .darkCss u, .darkCss ul, .darkCss var, .darkCss video, .darkCss wbr {
  color: #fefefe !important;
}

/* line 19, styles.scss */
html.lightCSs {
  background-color: white !important;
}

/* line 22, styles.scss */
html.darkCss {
  background-color: #333333 !important;
}

/* line 25, styles.scss */
.darkCss body, .darkCss main, .lightCss body, .lightCss main {
  background-color: transparent !important;
}

/* line 28, styles.scss */
body {
  -webkit-overflow-scrolling: touch;
}

/* line 31, styles.scss */
nav {
  position: absolute;
  margin: 0 25px;
  height: 100%;
  width: 67px;
}

/* line 37, styles.scss */
a {
  text-decoration: none;
}

/* line 40, styles.scss */
.site-title {
  margin: 25px;
  padding: 0;
  color: black;
}

/* line 46, styles.scss */
ul.controls {
  min-width: 75px;
}

/* line 49, styles.scss */
ul.controls, ul.components {
  list-style: none;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
}

/* line 56, styles.scss */
ul.controls li {
  display: block;
}

/* line 59, styles.scss */
ul.components li {
  width: 35px;
  height: 35px;
}

/* line 63, styles.scss */
ul.controls li a {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 30px;
}

/* line 69, styles.scss */
ul.controls li a:first-child {
  margin-top: 0;
}

/* line 72, styles.scss */
ul.components li a {
  display: block;
  height: 100%;
  width: 100%;
}

/* line 80, styles.scss */
ul.chapters li {
  margin: 0 10px;
}

/* line 83, styles.scss */
main {
  /* set adjustable font-size */
  font-size: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  overflow-y: hidden;
  overflow-x: hidden;
  max-height: 200px;
}

/* line 96, styles.scss */
main a, main a:link, main a:active, main a:visited {
  color: blue !important;
  text-decoration: underline !important;
}

/* line 100, styles.scss */
section#page {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 105, styles.scss */
.runner-help {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 25px;
  padding: 0;
  text-decoration: none;
}

/* line 113, styles.scss */
.runner-help a {
  /*color:black;*/
  text-decoration: none;
}

/* line 117, styles.scss */
.runner-page-count {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 25px;
  padding: 0;
}

/**
* icons
*/
/* line 129, styles.scss */
[data-state='play'] svg.play {
  display: block;
}

/* line 132, styles.scss */
[data-state='play'] svg.pause {
  display: none;
}

/* line 136, styles.scss */
[data-state='pause'] svg.play {
  display: none;
}

/* line 139, styles.scss */
[data-state='pause'] svg.pause {
  display: block;
}

/* line 143, styles.scss */
.darkCss .svg-light {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
  height: 0;
}

/* line 151, styles.scss */
.lightCss .svg-light {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  height: 100%;
}

/* line 159, styles.scss */
.lightCss .svg-dark {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: none;
  height: 0;
}

/* line 167, styles.scss */
.lightCss .svg-light {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  height: 100%;
}

/**
*
* misc.
*
*/
/* line 180, styles.scss */
.hidden {
  width: 0;
  height: 0;
  display: none;
  visibility: hidden;
}

/* line 186, styles.scss */
.show-scroll-bar {
  overflow-y: scroll;
}

/**
* base mobile styles
*/
/* line 193, styles.scss */
nav.mobile {
  top: 0;
  text-align: justify;
  margin: 25px auto 0 auto;
  position: relative;
}

/* line 199, styles.scss */
nav.mobile ul.controls {
  display: inline;
}

/* line 202, styles.scss */
nav.mobile ul.controls li {
  display: inline;
}

/* line 205, styles.scss */
nav.mobile ul.controls li:last-child:after {
  content: '.';
  visibility: hidden;
  display: inline-block;
  width: 100%;
}

/*iPad in landscape*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 3, media-queries-landscape.scss */
  body:before {
    content: 'iPad in landscape';
    background: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* line 17, media-queries-landscape.scss */
  body:before {
    content: 'iPhone 5 in landscape';
    background: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }

  /* line 27, media-queries-landscape.scss */
  main {
    margin: 20px 10px 0;
  }

  /* line 31, media-queries-landscape.scss */
  .mobile-portrait-only {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* line 39, media-queries-landscape.scss */
  body:before {
    content: 'iPhone 2G-4S in landscape';
    background: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }

  /* line 49, media-queries-landscape.scss */
  main {
    margin: 20px 10px 0;
  }

  /* line 53, media-queries-landscape.scss */
  .mobile-portrait-only {
    display: none;
  }
}
/*iPad in portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 3, media-queries-portrait.scss */
  body:before {
    content: 'iPad in portrait';
    background: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }

  /* line 12, media-queries-portrait.scss */
  main {
    font-size: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: white;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 200px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 28, media-queries-portrait.scss */
  body:before {
    content: 'iPhone 5 in portrait';
    background: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }

  /* line 37, media-queries-portrait.scss */
  nav.mobile {
    top: 0 !important;
    text-align: justify;
    margin: 25px auto 0 auto;
    position: relative;
    width: 300px;
    max-width: 300px;
  }

  /* line 45, media-queries-portrait.scss */
  main {
    margin: 30px 10px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* line 52, media-queries-portrait.scss */
  body:before {
    content: 'iPhone 2G-4S in portrait';
    background: white;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
  }

  /* line 61, media-queries-portrait.scss */
  nav.mobile {
    top: 0 !important;
    text-align: justify;
    margin: 25px auto 0 auto;
    position: relative;
    width: 300px;
    max-width: 300px;
  }

  /* line 69, media-queries-portrait.scss */
  main {
    margin: 30px 10px;
  }
}
