/*iPad in portrait*/
 @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    body:before {
        content:'iPad in portrait';
        background: white;
        color:black;
        position: fixed;
        top:0;
        left:0;
        display: none;
    }
    main {
        font-size: 100%;
        position: absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        background: white;
        overflow-y: hidden;
        overflow-x: hidden;
        max-height: 200px;
    }
    ul.controls li a{
        margin: 0;
    }
    ul.controls li a.full-screen{
        display: none;
    }
}

// /*iPhone 5 in portrait*/
 @media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
    body:before {
        content:'iPhone 5 in portrait';
        background: white;
        color:black;
        position: fixed;
        top:0;
        left:0;
        display: none;
    }
    nav.mobile{
        top:0!important;
        text-align: justify;
        margin:25px auto 0 auto;
        position: relative;
        width: 300px;
        max-width: 300px;
    }
    main{
        margin:30px 10px;
    }
    ul.controls li a.full-screen{
        display: none;
    }
}

// /*iPhone 2G-4S in portrait*/
 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
    body:before {
        content:'iPhone 2G-4S in portrait';
        background: white;
        color:black;
        position: fixed;
        top:0;
        left:0;
        display: none;
    }
    nav.mobile{
        top:0!important;
        text-align: justify;
        margin:25px auto 0 auto;
        position: relative;
        width: 300px;
        max-width: 300px;
    }
   main{
        margin:30px 10px;
    }
    ul.controls li a.full-screen{
        margin: 0;
    }
    ul.controls li a.full-screen{
        display: none;
    }
}
