html, body, div, hr, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
    font-family: 'Cardo';
}
html, body {
    font-size: 24px;
    /* set base font-size */
    margin:0;
    padding:0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
html,body,main{ // contrast toggle
    -webkit-transition: background-color 150ms ease-out;
    -moz-transition: background-color 150ms ease-out;
    -o-transition: background-color 150ms ease-out;
    transition: background-color 150ms ease-out;
}
html.lightCSs{
    background-color: #fff;
}
html.darkCss{
    background-color: #ccc;
}
.darkCss body, .darkCss main, .lightCss body,.lightCss main{
    background-color: transparent;
}
body{
    // -webkit-overflow-scrolling: touch;
}
nav {
    position: absolute;
    margin:0 25px;
    height: 0;
    width: 67px;
}
a {
    text-decoration: none;
}
.site-title {
    margin:25px;
    padding:0;
    color:black;
    //display: none;
}
ul.controls{
    min-width: 75px;
    opacity: .3;
}
ul.controls, ul.components {
    list-style: none;
    margin:0;
    padding:0;
    top: 0;
    right:0;
}
ul.controls li{
    display: block;
}
ul.components li {
    width: 35px;
    height: 35px;
}
ul.controls li a {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    @include box-shadow(4px, 4px, 6px, rgba(0,0,0,0.5));
}
ul.controls li a:first-child{
    // margin-top:0;
}
ul.components li a {
    display: block;
    height: 100%;
    width: 100%;
}
ul.chapters {
//display: none;
}
ul.chapters li {
    margin: 0 10px;
}
main {
    /* set adjustable font-size */
    font-size: 100%;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: white;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 200px;
    line-height: 1.3;
    -webkit-overflow-scrolling:auto!important;
    // &:before{
    //     content:' ';
    //     display:block;
    //     position:fixed;
    //     width:100%;
    //     height:30px;
    //     background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    //     background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    //     background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    //     background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    //     background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
    //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    // }
    // &:after{
    //     content:' ';
    //     display:block;
    //     position:fixed;
    //     width:100%;
    //     height:15%;
    //     bottom: 0;
    //     background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    // background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    // background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    // background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    // background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    // }
    &:hover{
        overflow-y: scroll;
    }
}
main a, main a:link, main a:active, main a:visited {
    color: blue!important;
    text-decoration: underline!important;
}
section#page{
    margin:0;
    padding:0;
    border:0;
    opacity: .3;
}
.runner-help {
    position: absolute;
    bottom: 0;
    left: 0;
    margin:25px;
    padding:0;
    text-decoration: none;
    opacity: .3;
}
.runner-help a {
    /*color:black;*/
    text-decoration: none;
}
.runner-page-count {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 25px;
    padding:0;
    opacity: .3;
}

/**
* icons
*/

[data-state='play'] svg.play{
    display: block;
}
[data-state='play'] svg.pause{
    display: none;
}

[data-state='pause'] svg.play{
    display: none;
}
[data-state='pause'] svg.pause{
    display: block;
}

.darkCss .svg-light{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: none;
    height: 0;
}
.lightCss .svg-light{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    height: 100%;
}
.lightCss .svg-dark{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: none;
    height: 0;
}
.lightCss .svg-light{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    height: 100%;
}
/**
*
* misc.
*
*/
.hidden {
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
}
.show-scroll-bar{
    overflow-y: scroll;
}

/**
* base mobile styles
*/
nav.mobile{
    top:0;
    text-align: justify;
    margin:25px auto 0 auto;
    position: relative;
}
nav.mobile ul.controls{
    display: inline;
}
nav.mobile ul.controls li{
    display: inline;
}
nav.mobile ul.controls li:last-child:after{
    content: ' ';
    visibility: hidden;
    display: inline-block;
    width: 100%;
}

/**
* Search bar
*/
.search-wrapper{
    position: absolute;
    right: 0;
    margin:30px;
    opacity: .3;
}
.input-wrapper{
    height: 32px;
}
#userInput {
    width: 300px;
    margin: 1px 0 0 0;
    opacity: 0;
    display: inline-block;
    padding: 0;
    text-align: left;
    height: 32px;
    float: left;
    @include box-shadow(4px, 4px, 6px, rgba(0,0,0,0.5));
}
#userInput:focus{
    outline: none;
}
#search{
    padding: 0;
    margin: 0 0 0 5px;
    height: 32px;
    width: 32px;
    background: transparent url(../images/search-icon.png) no-repeat center;
    background-size: contain;
    display: inline-block;
    position: relative;
    right: 0;
    @include box-shadow(4px, 4px, 6px, rgba(0,0,0,0.5));
}
#search-close{
    padding: 0;
    margin: 0 0 0 5px;
    height: 32px;
    width: 32px;
    background: transparent url(../images/search-close-icon.png) no-repeat 1px -10px;
    background-size: cover;
    display: inline-block;
    border-right: 0;
    opacity: 0;
    @include box-shadow(4px, 4px, 6px, rgba(0,0,0,0.5));
}
