html, body, div, hr, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    vertical-align:baseline;
    font-family: 'Cardo';
}
html, body {
    font-size: 24px;
    /* set base font-size */
    margin:0;
    padding:0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
html,body,main{ // contrast toggle
    -webkit-transition: background-color 150ms ease-out;
    -moz-transition: background-color 150ms ease-out;
    -o-transition: background-color 150ms ease-out;
    transition: background-color 150ms ease-out;
}
html.lightCSs{
    background-color: #fff;
}
html.darkCss{
    background-color: #ccc;
}
.darkCss body, .darkCss main, .lightCss body,.lightCss main{
    background-color: transparent;
}
body{
    // -webkit-overflow-scrolling: touch;
}
nav {
    position: absolute;
    margin:0 25px;
    height: 0;
    width: 67px;
}
a {
    text-decoration: none;
}
.site-title {
    margin:25px;
    padding:0;
    color:black;
    //display: none;
}
ul.controls{
    min-width: 75px;
    opacity: 0;
    // opacity: .3;
}
ul.controls, ul.components {
    list-style: none;
    margin:0;
    padding:0;
    top: 0;
    right:0;
}
ul.controls li{
    margin:3px 0;
}
ul.components li {
    width: 35px;
    height: 35px;
}
ul.controls li a {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
    @include box-shadow(4px, 4px, 6px, rgba(0,0,0,0.5));
}
ul.controls li a:first-child{
    // margin-top:0;
}
ul.components li a {
    display: block;
    height: 100%;
    width: 100%;
}
ul.chapters {
//display: none;
}
ul.chapters li {
    margin: 0 10px;
}
main {
    /* set adjustable font-size */
    font-size: 100%;
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    background: white;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 200px;
    line-height: 1.3;
    -webkit-overflow-scrolling:auto!important;
    &:hover{
        overflow-y: scroll;
    }
}
main a, main a:link, main a:active, main a:visited {
    color: blue!important;
    text-decoration: underline!important;
}
section#page{
    margin:0;
    padding:0;
    border:0;
    opacity: .3;
}
.runner-help {
    position: absolute;
    bottom: 0;
    left: 0;
    margin:25px;
    padding:0;
    text-decoration: none;
    opacity: .3;
}
.runner-help a {
    /*color:black;*/
    text-decoration: none;
}
.runner-page-count {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 25px;
    padding:0;
    opacity: .3;
}

/**
* icons
*/

.play-btn[data-state='play']{
    background: transparent url(../images/play_64.png) no-repeat center;
    background-size: contain;
}
.play-btn[data-state='pause']{
    background: transparent url(../images/stop_64.png) no-repeat center;
    background-size: contain;
}
.speed-inc{
    background: transparent url(../images/faster_64.png) no-repeat center;
    background-size: contain;
}
.speed-dec{
    background: transparent url(../images/slower_64.png) no-repeat center;
    background-size: contain;
}
.font-inc{
    background: transparent url(../images/bigger_64.png) no-repeat center;
    background-size: contain;
}
.font-dec{
    background: transparent url(../images/smaller_64.png) no-repeat center;
    background-size: contain;
}
.contrast-light{
    background: transparent url(../images/lighter_64.png) no-repeat center;
    background-size: contain;
}
.contrast-dark{
    background: transparent url(../images/darker_64.png) no-repeat center;
    background-size: contain;
}
.full-screen{
    background: transparent url(../images/fullscreen_64.png) no-repeat center;
    background-size: contain;
}

/**
*
* misc.
*
*/
.hidden {
    width: 0;
    height: 0;
    display: none;
    visibility: hidden;
}
.show-scroll-bar{
    overflow-y: scroll;
}

/**
* base mobile styles
*/
nav.mobile{
    top:0;
    text-align: justify;
    margin:25px auto 0 auto;
    position: relative;
}
nav.mobile ul.controls{
    display: inline;
}
nav.mobile ul.controls li{
    display: inline;
}
nav.mobile ul.controls li:last-child:after{
    content: ' ';
    visibility: hidden;
    display: inline-block;
    width: 100%;
}

/**
* Search bar
*/
.search-wrapper{
    position: absolute;
    right: 0;
    margin:30px;
    opacity: .3;
}
.input-wrapper{
    height: 32px;
}
#userInput {
    width: 300px;
    margin: 1px 0 0 0;
    opacity: 0;
    display: inline-block;
    padding: 0;
    text-align: left;
    height: 32px;
    float: left;
    @include box-shadow(4px, 4px, 6px, rgba(0,0,0,0.5));
}
#userInput:focus{
    outline: none;
}
#search{
    padding: 0;
    margin: 0;
    height: 32px;
    width: 32px;
    background: transparent url(../images/find_64.png) no-repeat center;
    background-size: contain;
    display: inline-block;
    position: relative;
    right: 0;
}
#search-close{
    padding: 0;
    margin: 0 0 0 12px;
    height: 32px;
    width: 32px;
    background: transparent url(../images/close_64.png) no-repeat center;
    background-size: contain;
    display: inline-block;
    border-right: 0;
    opacity: 0;
}
