<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Impressum</title>
    </head>
    <body>
        <div class="impressum">
            <p>&#160;</p>
            <p>&#160;</p>
            <p>&#160;</p>
            <p>&#160;</p>
            <p>&#160;</p>
            <p>&#160;</p>
            <p>&#160;</p>
            <p>&#160;</p>
            <p>&#160;</p>

            <p class="center">Impressum</p>
            <p>&nbsp;</p>
            <p>Erstveröffentlichung</p>
            <p>Fiktion, Berlin, 2014</p>
            <p><a target="_blank" href="http://www.fiktion.cc">www.fiktion.cc</a></p>
            <p>&nbsp;</p>
            <p>Projektleitung
            <br />Programm: Mathias Gaza, Ingo Niermann</p>
            <p>&nbsp;</p>
            <p>Projektleitung
            <br />Kommunikation: Henriette Gallus</p>
            <p>&nbsp;</p>
            <p>Lektorat:
            <br />Mathias Gatza</p>
            <p>&nbsp;</p>
            <p>Korrektorat:
            <br />Rainer Wieland. </p>
            <p>&nbsp;</p>
            <p>Graphikdesign:Vela
            <br />Arbutina</p>
            <p>&nbsp;</p>
            <p>Programmierung:
            <br />Maxwell Simmer (Version House)</p>
            <p>&nbsp;</p>
            <p>Das Copyright für die Texte liegt beim Autor.</p>
            <p>&nbsp;</p>
            <p>Fiktion
            wird getragen von Fiktion e.V., entwickelt in Kooperation mit dem Haus der
            Kulturen der Welt und gefördert durch die Kulturstiftung des Bundes.</p>
            <p>&nbsp;</p>
            <p>Fiktion e.V., c/o Mathias Gatza, Sredzkistrasse 57, D-10405 Berlin</p>
            <p>Vorstand: Mathias Gatza, Ingo Niermann</p>
            <p>Vereinsregisternr. VR 32615 B beim Amtsgericht Charlottenburg (Berlin)</p>
            <p>&nbsp;</p>
            <img style="padding-bottom:25px;display:block;height:100px;width:246px;" alt="" src="components/meta/images/ksb.jpg"/>
            <img style="display:block;height:45px;width:121px;" alt="" src="components/meta/images/hkw.png"/>
            <p>&#160;</p>
            <p>&#160;</p>
            <p>&#160;</p>
            <p>&#160;</p>
            <p>&#160;</p>
            <p>&#160;</p>
            <p>&#160;</p>
            <p>&#160;</p>
            <p>&#160;</p>
        </div>
    </body>
</html>
