@font-face {
    font-family: 'cardo-R';
    src: url(../fonts/cardo-R.ttf);
    font-weight:normal;
    font-style:normal;
}
@font-face {
    font-family: 'cardo-I';
    src: url(../fonts/cardo-I.ttf);
    font-weight:normal;
    font-style:normal;
}
#book-content html,
#book-content body,
#book-content div,
#book-content hr,
#book-content span,
#book-content applet,
#book-content object,
#book-content iframe,
#book-content h1,
#book-content h2,
#book-content h3,
#book-content h4,
#book-content h5,
#book-content h6,
#book-content p,
#book-content blockquote,
#book-content pre,
#book-content a,
#book-content abbr,
#book-content acronym,
#book-content address,
#book-content big,
#book-content cite,
#book-content code,
#book-content del,
#book-content dfn,
#book-content em,
#book-content img,
#book-content ins,
#book-content kbd,
#book-content q,
#book-content s,
#book-content samp,
#book-content small,
#book-content strike,
#book-content strong,
#book-content sub,
#book-content sup,
#book-content tt,
#book-content var,
#book-content b,
#book-content u,
#book-content i,
#book-content center,
#book-content dl,
#book-content dt,
#book-content dd,
#book-content ol,
#book-content ul,
#book-content li,
#book-content fieldset,
#book-content form,
#book-content label,
#book-content legend,
#book-content table,
#book-content caption,
#book-content tbody,
#book-content tfoot,
#book-content thead,
#book-content tr,
#book-content th,
#book-content td,
#book-content article,
#book-content aside,
#book-content canvas,
#book-content details,
#book-content embed,
#book-content figure,
#book-content figcaption,
#book-content footer,
#book-content header,
#book-content hgroup,
#book-content menu,
#book-content nav,
#book-content output,
#book-content ruby,
#book-content section,
#book-content summary,
#book-content time,
#book-content mark,
#book-content audio,
#book-content video{margin:0;padding:0;border:0;vertical-align:baseline;}

div#book-content{
    margin:0 0 0 0;
    font-family: cardo-R;
    font-weight: normal;
    font-style: normal;
    -webkit-hyphens:auto;
    -epub-hyphens:auto;
    -moz-hyphens:auto;
    -ms-hyphens:auto;
    -o-hyphens:auto;
    hyphens:auto;
}
#book-content h1{
    margin-top: 0;
    font-size: 2.0000em;
    line-height: 1.2;
    padding-top: 0.8em;
    padding-bottom: 1.45em;
    text-align: center;
    font-weight: normal;
}
#book-content h2{
    font-size: 1.5000em;
    line-height: 1.3000em;
    padding-top: 1.9em;
    padding-bottom: 0.7em;
    text-align: center;
    font-weight: normal;
}
#book-content h3{
    font-size: 1em;
    line-height: 1.3000em;
    padding: 0 0 0 0;
    text-align: center;
    font-weight: normal;
}
#book-content h2 + h3{
    padding-top: 0;
}
#book-content p{
    font-size: 1em;
    line-height: 1.3000em;
    padding: 0 0 0 0;
    text-indent: 0;
    font-weight: normal;
    orphans:2;
    widows:1;
    -webkit-hyphens: auto;
    -epub-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
#book-content i, #book-content em{
    font-family: cardo-I;
    font-style: normal;
    line-height: 0.1em;
}
#book-content b, #book-content strong{
    font-family: cardo-R;
    font-style: normal;
}
#book-content a{
    text-decoration:none;
    border-bottom:1px solid black;
    color:black;
}
#book-content .sub-title-header{
    text-align: center;
}
#book-content .sub-title p{
    text-indent: 0;
    padding: 0 0 1.3000em 0;
}
#book-content .dedication{
    padding-top: 3.2em;
    padding-bottom: 0;
}
#book-content .dedication p{
    text-align: center;
    text-indent: 0;
}
#book-content .quote{
    padding-top:3.2em;
    padding-bottom:3.2em;
    text-indent: 0;
}
#book-content .quote p{
    text-indent: 0;
    padding: 0 0 1.3000em 0;
}
#book-content .quote p.meta{
    text-indent:0;
}
#book-content .quote p.byline{
    padding-top:0;
}
#book-content h1 + p,
#book-content h2 + p,
#book-content h3 + p,
#book-content .quote + p,
#book-content .dedication + p{
    text-indent: 0;
}
#book-content h1 + p,
#book-content h2 + p,
#book-content h3 + p,
#book-content .quote + p,
#book-content .dedication + p{
    text-indent: 0;
}
#book-content p + #book-content h3{
    padding-top: 1.3000em;
}
#book-content .imprint{
    padding-top: 4.65em;
    padding-bottom: 11em;
}
#book-content .imprint p{
    text-indent:0;
}
#book-content .imprint p a{
    text-decoration: none!important;
    border:0!important;
    color:#000!important;
}

/*

Text

*/
#book-content .block{
    display: block;
}
#book-content p.no-padding{
    padding: 0;
}
#book-content p.no-indent{
    text-indent: 0;
}
#book-content .chapter-lead p{
    text-indent: 0;
    padding: 0;
}
#book-content p.small-caps,
#book-content span.small-caps{
    font-size: 0.75em;
}

/*

Custom

*/
#book-content .script{
    padding-left: 2.5em;
}
#book-content .script p{
    text-indent: 0;
}
#book-content .script p.header{
    text-indent: 0;
    margin-left: -2.5em;
    padding-top: 1.3em;
    text-align: left;
}
#book-content .script p.header + p.header{
    padding-top: 0;
}
#book-content .script p.setting{
    text-align: left;
}
#book-content .script p.character{
    text-align: center;
}
#book-content .script + p{
    padding-top: 1.3em;
}
